<main class="container">
  <section class=" main__title is-center">
    <h3>Panier</h3>
  </section>
  <ng-container *ngIf='cart.items.length === 0'>
    <div class='text-center'>
      <p>The cart is empty!</p>
      <a class='button' routerLink='/'>Retour à l'accueil</a>
    </div>
  </ng-container>

  <ng-container *ngIf='cart.items.length > 0'>
    <section class="row container-card" *ngFor='let cartItem of cart.items'>
      <section class="col-4 col-4-lg">
        <div class="card">
          <img src="https://res.cloudinary.com/dfrsqfn9f/image/upload/v1626269855/cheek/products/University-Hoodie_recto.jpg" alt="">
        </div>
      </section>
      <section class="col-6  col-6-lg">
        <h4>{{cartItem?.product?.name}}</h4>
        <section class="container__detail is-vertical-align">
          <p>{{cartItem.priceHt}}€</p>
          <p class="border">{{cartItem.size.label}}</p>
          <p class="border">{{cartItem.stock}}</p>
          <button (click)='removeProduct(cartItem.productId, cartItem.size.id)'>
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.6h18M6 4.6V2.8c0-.477.21-.935.586-1.273A2.118 2.118 0 018 1h4c.53 0 1.04.19 1.414.527.375.338.586.796.586 1.273v1.8m3 0v12.6c0 .477-.21.935-.586 1.273A2.118 2.118 0 0115 19H5c-.53 0-1.04-.19-1.414-.527A1.714 1.714 0 013 17.2V4.6h14zM8 9.1v5.4M12 9.1v5.4" stroke="#FA9223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </button>
        </section>
      </section>
    </section>
<!--    <section>-->
<!--      <h3>Cordonnées de livraison</h3>-->
<!--      <article class="detail-address">-->
<!--        <P>1 rue Auguste Renoir</P>-->
<!--        <p>93600 Aulnay-sous-Bois</p>-->
<!--        <p>01.23.45.67.89</p>-->
<!--      </article>-->
<!--    </section>-->
    <section class="container__detail-price">
      <div class="detail-price" *ngIf='cart.shippingFees'>
        <p>Frais de livraison</p>
        <p>Offerts</p>
      </div>
      <div class="detail-price">
        <P>Sous-total</P>
        <p>{{cart.totalHt | currency}}</p>
      </div>
      <div class="detail-price">
        <p>Total</p>
        <p>{{cart.totalTtc | currency}}</p>
      </div>
    </section>
    <section class="container__btn">
      <button routerLink="/">Retour</button>
      <button>Acheter</button>
    </section>
  </ng-container>
</main>

