table {
  border: 1px solid var(--color-orange);
  margin: 3rem 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

table tr {
  background-color: var(--bg-color);
  border: 1px solid var(--color-orange);
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

/* ___________________TABLET & DESKTOP_________________ */

@media screen and (max-width: 900px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid var(--color-orange);
    display: block;
  }

  table td {
    border-bottom: 1px solid var(--color-grey);
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
  }
}
