.cart-panel-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
  z-index: 3;
}

.cart-panel-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 320px;
  width: 40%;
  background: #fff;
  z-index: 4;
  box-shadow: 2px 3px 12px #000000;
  overflow: hidden;
}

.cart-panel-content {
  /* full-height window - height of close button */
  height: calc(100vh - 66px);
}

.button.clear {
  padding: 2rem 3rem;
  color: var(--color-grey);
}

.trigger-panel-cart {
  position: relative;
}

.trigger-panel-cart > span {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: var(--color-primary);
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
}
