<div class='cart-panel-overlay' *ngIf='panelState === "in"'></div>

<aside [@openCloseCart]="panelState" class="cart-panel-container" >
    <button type='button' class='button clear' (click)='togglePanel()'>
      <fa-icon [icon]="faClose" size='xl'></fa-icon>
    </button>
    <div class='cart-panel-content'>
      <app-cart [togglePanel]='togglePanel'></app-cart>
    </div>
</aside>

<button
  title="Panier"
  type='button'
  class='trigger-panel-cart'
  (click)='togglePanel()'
>
  <fa-icon [icon]="faCartShopping"></fa-icon>
  <ng-container *ngIf='countCart > 0'>
    <span>{{countCart}}</span>
  </ng-container>
</button>

