<main class="container is-center">
    <section class="col-10 col-8-md col-8-lg">        
        <section class="text-center">
            <h3>{{ title }}</h3>

            <div *ngIf="isCreated">
                <p class="alertSuccess is-center">{{ msgSuccessCreate }}</p>
            </div>
            <div *ngIf="isUpdated">
                <p class="alertSuccess is-center">{{ msgSuccessUpdate }}</p>
            </div>
        </section>
        
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <section class="form-input">
                <section class="is-center">
                    <select class="custom-select" formControlName="category" (change)="onChangeCategory($event)">
                        <option value="">Catégorie*</option>
                        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                    </select>
                </section>

                <div class="is-center" *ngIf="f['category']?.invalid && f['category']?.touched">
                    <div *ngIf="f['category'].errors?.['required']">
                        <p class="error">Veuillez selectionner la catégorie!</p>
                    </div>
                </div>
            </section>
            
            <section class="row">
                <section class="form-input col-6">
                    <label for="name-input">Nom du produit*</label>
                    <input type="text" id="name-input" formControlName="name">

                    <div *ngIf="f['name']?.invalid && f['name']?.touched">
                        <div *ngIf="f['name'].errors?.['required']">
                            <p class="error">Le nom du produit est requis!</p>
                        </div>
                    </div>
                </section>

                <section class="form-input col-6">
                    <label for="description-input">Description*</label>
                    <textarea formControlName="description"></textarea>
    
                    <div *ngIf="f['description']?.invalid && f['description']?.touched">
                        <div *ngIf="f['description'].errors?.['required']">
                            <p class="error">La description est requise!</p>
                        </div>
                    </div>
                </section>
            </section>

            <section class="row is-vertical-align" formArrayName="details">
                <section class="col-12" *ngFor="let detailsForm of details.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-4">
                                <label for="taille-input">Sélctionner la taiile</label>
                                <select class="custom-select__size" formControlName="size" (change)="onChangeSize($event, i)">
                                    <option value="">Taille*</option>
                                    <option *ngFor="let size of sizes" [value]="size.id">{{ size.label }}</option>
                                </select> 
                            </div>
                                <!-- <div *ngIf="f['size']?.invalid && f['size']?.touched">
                                    <div *ngIf="f['size'].errors?.['required']">
                                        <p class="error">Veuillez selectionner la taille!</p>
                                    </div>
                                </div> -->
                            <div class="col-4">
                                <label for="stock-input">Stock*</label>
                                <input type="number" id="stock-input" formControlName="stock">
                            </div>
                                <!-- <div *ngIf="f['stock']?.invalid && f['stock']?.touched">
                                    <div *ngIf="f['stock'].errors?.['required']">
                                        <p class="error">Le stock est requis!</p>
                                    </div>
                                </div> -->
                            <div class="col-4">
                                <label for="price-input">Prix_ht*</label>
                                <input type="number" id="price-input" formControlName="price_ht">
                
                                <!-- <div *ngIf="f['price']?.invalid && f['price']?.touched">
                                    <div *ngIf="f['price'].errors?.['required']">
                                        <p class="error">Le prix est requis!</p>
                                    </div>
                                </div> -->
                            </div>
                           
                        
                        </div>
                    </div>
                        
                </section>

                <!-- <div *ngIf="product">
                    <img src={{product.pictures[0].url}}/>
                </div> -->
               
                <!-- <input type="file" multiple class="file-input" (change)="onFileSelected($event)" #fileUpload> -->
            
                    <!-- <div class="file-upload">{{fileName || "Aucun fichier selectionné"}}
                        <button type="button" class="upload-btn" (click)="fileUpload.click()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#FA9223" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download">
                                <path d="M21 15v4a2 2 0 01-2 2H5a2 2 0 01-2-2v-4M7 10l5 5 5-5M12 15V3"/>
                            </svg>
                        </button>
                    </div> -->
            </section>
            <div class="is-center">
                <button (click)="addDetails()">Ajouter un détail</button>
              </div>    
            <section class="is-center">
                <button type="submit" [disabled]="productForm.invalid">Valider</button>
            </section>
        </form>
    </section>    
</main>

