@import url(../../../../../assets/partials/forms.css);

h3 {
  font-family: var(--font-family-courier);
  font-weight: 800;
  color: var(--color-orange);
  margin: 4rem;
  text-transform: uppercase;
}

p{
  font-family: var(--font-family-courier);
}

.custom-select, .custom-select__size {
  background-color: var(--bg-color);
  font-family: var(--font-family-courier);
  border: 2px solid var(--color-orange);
  width: 30%;
  margin-left: 1rem;
}

.custom-select__size {
  width: 100%;
}

.upload-btn {
  margin-left: 1rem;
}
.file-input {
    display: none !important;
  }
