p {
  font-family: var(--font-family-gloria);
  color: var(--color-orange);
  margin: 0.7rem 0 0 0;
}

a {
  color: var(--color-orange);
  font-family: var(--font-family-courier);
}

.container-filter {
  margin-top: 20px;
}

.custom-select {
  background-color: var(--bg-color);
  font-family: var(--font-family-courier);
  border: 2px solid var(--color-orange);
}

label,
p {
  font-family: var(--font-family-courier);
}

.container-btn {
  margin-bottom: 4rem;
}
button {
  background-color: var(--bg-color);
  border: 2px solid var(--color-orange);
  font-family: var(--font-family-courier);
  color: var(--color-orange);
  padding: 0.8rem;
  margin: 0 2rem;
}

.alertSuccess {
  font-family: var(--font-family-courier);
  color: var(--color-success);
}

.error {
  font-family: var(--font-family-courier);
  color: var(--color-error);
  font-size: var(--font-size-small);
}

