@import url(../../../../assets/partials/tables.css);

p {
  font-family: var(--font-family-gloria);
  color: var(--color-orange);
  margin: 0.7rem 0 0 0;
}

a {
  color: var(--color-black);
  font-family: var(--font-family-courier);
}

.container-filter {
  margin-top: 20px;
}

.custom-select {
  background-color: var(--bg-color);
  font-family: var(--font-family-courier);
  border: 2px solid var(--color-orange);
}

label,
p {
  font-family: var(--font-family-courier);
}

button {
  background-color: var(--bg-color);
  border: 2px solid var(--color-orange);
  font-family: var(--font-family-courier);
  color: var(--color-orange);
}

.btn {
  display: inline-block;
  background-color: var(--bg-color);
  border: 2px solid var(--color-orange);
  padding: 10px;
  margin: 15px 0;
}

.alertSuccess {
  font-family: var(--font-family-courier);
  color: var(--color-success);
}

.error {
  font-family: var(--font-family-courier);
  color: var(--color-error);
  font-size: var(--font-size-small);
}

/* ___________________TABLET_________________ */

@media screen and (min-width: 600px) and (max-width: 900px) {
  .custom-select {
    width: 50%;
  }
}

/* ___________________DESKTOP_________________ */

@media screen and (min-width: 900px) {
  .custom-select {
    width: 30%;
  }
}
