<main class="container">
  <h3 class="is-center">{{ title }}</h3>
  <div class="is-center container-links">
      <a routerLink="/admin/gestion-tailles">
        Voir les tailles
      </a>

      <a routerLink="/admin/gestion-produits">
         Voir les catégories
      </a>
  </div>

  <div *ngIf="isDeleted">
        <p class="alertSuccess is-center">{{ msgSuccess }}</p>
  </div>
  
  <div class="cadre-table-scroll">
      <app-table
        [headers]="headers"
        [datas]="products" 
        (updateAction)="editProduct($event)"
        (deleteAction)="deleteProduct($event)">
    </app-table>
  </div>

  <a routerLink='/admin'>
    <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>
    Retour
  </a>
  <div class="is-center container-btn">
    <button>
      <a routerLink="/admin/gestion-produits/ajouter">
        <fa-icon [icon]="faAdd"></fa-icon>
        Produit
      </a>
    </button>
  </div>
</main>
