<main class="container">
  <div class="is-center container-btn">
    <button>
      <a routerLink="/admin/gestion-tailles">
        Tailles
      </a>
    </button>
    <button>
      <a routerLink="/admin/gestion-produits">
        Catégories
      </a>
    </button>
  </div>

  <!-- <section class="row container-filter">
    <select class="col-3 custom-select">
      <option value="">Filter par catégorie</option>
      <option *ngFor="let size of sizes" [value]="size.id">{{size.label}}</option> 
    </select>
    <select (change)="onChangeSize($event)" class="col-3 custom-select">
      <option value="">Filter par taille</option>
      <option *ngFor="let size of sizes" [value]="size.id">
        {{ size.label }}
      </option>
    </select>
  </section> -->

  <div *ngIf="isDeleted">
        <p class="alertSuccess is-center">{{ msgSuccess }}</p>
  </div>
  
  <app-table
    [headers]="headers"
    [datas]="products" 
    (updateAction)="editProduct($event)"
    (deleteAction)="deleteProduct($event)">
  </app-table>

  <div class="is-center container-btn">
    <button>
      <a routerLink="/admin/gestion-produits/ajouter">
        <fa-icon [icon]="faAdd"></fa-icon>
        Produit
      </a>
    </button>
  </div>
</main>
