<main class="container">
  <h3 class="is-center">{{ title }}</h3>

  <section class="container__icons">
    <div class="text-center">
      <h4>Gérer mon profil</h4>
      <a
        [routerLink]="['/compte/profil']"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="faProfile" size="7x"></fa-icon>
      </a>
    </div>
    <div class="text-center">
      <h4>Voir mes commandes</h4>
      <a
        [routerLink]="['/compte/commande']"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="faOrder" size="7x"></fa-icon>
      </a>
    </div>
  </section>
</main>
