main {
  margin-top: 120px;
}

h3 {
  font-family: var(--font-family-courier);
  font-weight: 800;
  color: var(--color-orange);
  text-transform: uppercase;
}

.p-2 {
  padding: 2rem;
}

.p-4 {
  padding: 4rem;
}
