h3, a {
  font-family: var(--font-family-courier);
  font-weight: 800;
  color: var(--color-orange);
  text-transform: uppercase;
}

p {
  font-family: var(--font-family-courier);
  color: var(--color-black);
}
.custom-container {
  margin-top: 10rem;
}