h4{
  font-family: var(--font-family-gloria);
  color: var(--color-orange);
}
h3 {
  font-family: var(--font-family-courier);
  font-weight: 800;
  color: var(--color-orange);
  text-transform: uppercase;
}
p{
  font-family: var(--font-family-courier);
  color: var(--color-black);
  margin: 0.7rem 0 0 0;
}

button {
  background-color: var(--bg-color);
  border: 2px solid var(--color-orange);
  font-family:  var(--font-family-courier);
  color: var(--color-orange);
}
img {
  margin: 0 auto;
}

.container-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.border {
  border: 2px solid var(--color-orange);
  border-radius: 2px;
  padding: 10px 20px;
}
.container__detail-price {
  margin-top: 40px;
}
.detail-price {
  display: flex;
  justify-content: space-between;
}

.detail-address {
  margin-top: 20px;
}

.container__btn {
  display: flex;
  justify-content: space-evenly;
}

.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 66px);
}

.cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-content {
  padding: 2rem;
}

.cart-footer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-primary);
}

.buy-btn {
  padding: 1.8rem;
  border-radius: 8;
  color: white;
  font-weight: bold;
}

.cadre-table-scroll {
  height: 20em;
  overflow-y: scroll;
  margin-bottom: 4rem;
}
/* ___________________DESKTOP_________________ */

@media screen and (min-width: 900px) {

}
