h3 {
    font-family: var(--font-family-courier);
    font-weight: 800;
    color: var(--color-orange);
    text-transform: uppercase;
}
.modal {
    display: none;
}

.modal.is-open {
    display: block;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal-content {
    max-width: 40%;
    background-color: white;
    margin: 0 auto;
    margin-top: 15rem;
    padding: 2rem 4rem;
    border-radius: 8px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}
