<!-- [1] -->
<div class="modal__overlay">
<div id="modal-1" aria-hidden="true" class="modal">

    <!-- [2] -->
    <div tabindex="-1">
  
      <!-- [3] -->
      <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title"  class="modal-content">
        <header>
          <h2 id="modal-1-title">
            {{title}}
          </h2>
  
          <!-- [4] -->
          <button aria-label="Close modal" data-micromodal-close class="modal-close">X</button>
        </header>
  
        <div id="modal-1-content">
          <ng-content></ng-content>
        </div>
  
      </div>
    </div>
  </div>
  </div>