<header>
  <section class="header__container-info text-center">
    <p class="is-marginless">Livraison offerte à partir de 70€ d'achat !</p>
    <p class="is-marginless">Moyen de paiement PayPal</p>
  </section>
  <section class="header__container">
    <section class="header__container-logo">
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        (click)="toggleHome()"
      >
        <img
          src="assets/logo/logo_Cheek_Paris.png"
          alt="Logo marque Cheek-Paris"
        />
      </a>
    </section>
    <section class="header__container-nav">
      <app-nav [toggle]="toggle" class="hide-xs hide-sm"></app-nav>

      <section class="header__container-icon">
        <a
          [routerLink]="['/connexion']"
          routerLinkActive="router-link-active"
          title="Se connecter"
          class="header__container-icon-user"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </a>
        <a
          (click)="logout()"
          routerLinkActive="router-link-active"
          title="Se déconnecter"
          class="header__container-icon-logout"
        >
          <fa-icon [icon]="faLogout"></fa-icon>
        </a>
        <app-cart-panel></app-cart-panel>
        <button class="header__container-icon-menu" (click)="toggle()">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
      </section>
    </section>
  </section>

  <section [@openClose]="isOpen ? 'open' : 'closed'">
    <app-nav class="hide-md hide-lg header__navBar" [toggle]="toggle"></app-nav>
  </section>
</header>
