<main class="container is-center">
    <section class="col-10 col-8-md col-8-lg">
        <h3 class="is-center">{{ title }}</h3>
       
        <div *ngIf="isRegistered">
            <p class="alertSuccess is-center">{{ msgSuccess }}</p>
        </div>
        <div *ngIf="isExisting">
            <p class="alertError is-center">{{ msgError }}</p>
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <section class="row">
                <section class="form-input col-6">
                    <label for="lastname-input">Nom*</label>
                    <input type="text" id="lastname-input" formControlName="lastName" minlength="2">
                    <div *ngIf="f['lastName']?.invalid && f['lastName']?.touched">
                        <div *ngIf="f['lastName'].errors?.['required']">
                            <p class="error">Votre nom est requis!</p>
                        </div>
                        <div *ngIf="f['lastName'].errors?.['minlength']">
                            <p class="error">Votre nom doit comporter au minimun 2 lettres!</p>
                        </div>
                    </div>
                </section>

                <section class="form-input col-6">
                    <label for="firstname-input">Prénom*</label>
                    <input type="text" id="firstname-input" formControlName="firstName" minlength="2">
                    <div *ngIf="f['firstName']?.invalid && f['firstName']?.touched">
                        <div *ngIf="f['firstName'].errors?.['required']">
                            <p class="error">Votre prénom est requis!</p>
                        </div>
                        <div *ngIf="f['firstName'].errors?.['minlength']">
                            <p class="error">Votre prénom doit comporter au minimun 2 lettres!</p>
                        </div>
                    </div>
                </section>
            </section>
     
            <section class="form-input">
                <label for="email-input">Email*</label>
                <input type="text" id="email-input" formControlName="email">
                <div *ngIf="f['email']?.invalid && f['email']?.dirty || f['email']?.touched">
                    <div *ngIf="f['email'].errors?.['required']">
                        <p class="error">L'email est requis!</p>
                    </div>
                    <div *ngIf="f['email'].errors?.['email']">
                        <p class="error">Le champs doit être une adresse email valide!</p>
                    </div>
                </div>
            </section>

            <section class="form-input">
                <label for="password-input">Mot de passe*</label>
                <section>
                    <div class="form-input-email">
                        <input class="is-marginless" [type]="showPassword ? 'text' : 'password'" id="password-input" formControlName="password">
                        <div (click)="showPassword = !this.showPassword" class="container-eye-icon" [class.hide]="showPassword">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.12 14.12a2.998 2.998 0 01-5.194-2.098A3 3 0 019.88 9.88m8.06 8.06A10.07 10.07 0 0112 20c-7 0-11-8-11-8a18.45 18.45 0 015.06-5.94l11.88 11.88zM9.9 4.24A9.12 9.12 0 0112 4c7 0 11 8 11 8a18.494 18.494 0 01-2.16 3.19L9.9 4.24zM1 1l22 22" stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        </div>
                        <div (click)="showPassword = !this.showPassword" class="container-eye-icon" [class.hide]="!showPassword">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 9s4-8 11-8 11 8 11 8-4 8-11 8S1 9 1 9z" stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 12a3 3 0 100-6 3 3 0 000 6z" stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>    
                        </div>
                    </div>     
                    <div *ngIf="f['password']?.invalid && f['password']?.dirty || f['password']?.touched">
                        <div *ngIf="f['password'].errors?.['required']">
                            <p class="error">Le mot de passe est requis!</p>
                        </div>
                        <div *ngIf="f['password'].errors?.['pattern']">
                            <p class="error">Le mot de passe doit contenir au minimun 8 caractères dont (1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial)!</p>
                        </div>
                    </div> 
                </section>
            </section>
            
            <section class="is-center">
                <button type="submit" [disabled]="signupForm.invalid">Valider</button>
            </section>
        </form>
    </section>    
</main>
